extends layout

block content
  h1= title
  h2 This is a sample example with the given SQL statement : SELECT * FROM table LIMIT 2;
  div
    ul
    - for (var row in table){
      - v = table[row];
      h3= "Table : " + row
      
      - for (var field in v){
        - value = v[field];
        li= field + " : " + value
      - }
    - }